@charset "utf-8";
#layout .main-content .content .inner-columns-wrapper .three-column-column1 .three-column-content.p7ehc-a a {
	text-decoration: none;
}
#layout .main-content .content .inner-columns-wrapper .three-column-column1 .three-column-content.p7ehc-a h3 {
	font-size: 1.2em;
	margin-top: 10px;
}
#layout .main-content .content .inner-columns-wrapper .three-column-column2 .three-column-content.p7ehc-a a {
	text-decoration: none;
}
#layout .main-content .content .inner-columns-wrapper .three-column-column2 .three-column-content.p7ehc-a h3 {
	font-size: 1.2em;
	margin-top: 10px;
}
#layout .main-content .content .inner-columns-wrapper .three-column-column3 .three-column-content.p7ehc-a a {
	text-decoration: none;
}
#layout .main-content .content .inner-columns-wrapper .three-column-column3 .three-column-content.p7ehc-a h3 {
	font-size: 1.2em;
	margin-top: 10px;
}